/* Most CSS from http://thecodeplayer.com/walkthrough/ripple-click-effect-google-material-design */

.bubble {
	position: absolute;
	border-radius: 100%;
	transform: scale(0);
}

.bubble.animate {
	animation: ripple 0.65s linear;
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}