body {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: rgb(0, 150, 200);
	text-decoration: none;
}

a:hover {
	color: rgb(0, 100, 125);
	text-decoration: none;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

div div {
	margin-left: 3%;
	margin-right: 3%;
}

#top-menu {
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	padding-top: 55px;
	position: absolute;
	padding-bottom: 50px;
	text-transform: uppercase;
	background-color: rgb(150, 180, 240);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#top-menu a {
	color: black;
}

#top-menu a:hover {
	color: gray;
}

#title {
	float: left;
	padding: 5px;
	font-size: 26px;
	font-weight: bold;
}

#menu-items {
	float: right;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

#menu-items li {
	padding: 6px;
	display: inline;
}

#profile {
	float: left;
	width: 400px;
	margin-top: 68px;
	padding-top: 50px;
	margin-left: 40px;
	margin-right: 50px;
	padding-left: 20px;
}

#profile img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.intro {
	text-align: justify;
	margin-top: 125px;
	padding-top: 100px;
	margin-right: 25px;
	padding-right: 5px;
}

#home-intro {
	width: 84%;
	margin-left: 75px;
	padding-left: 50px;
}

#bio-intro {
	width: 60%;
	margin-left: 125px;
	padding-left: 100px;
	padding-bottom: 75px;
}

#resume-intro {
	text-align: center;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

.job {
	font-style: italic;
}

#resume {
	width: 70%;
	margin-left: 50px;
	padding-left: 50px;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

#resume div {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#resume p {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#resume ul {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#resume li {
	list-style-type: disc;
	list-style-position: inside;
}

#presentation {
	margin-bottom: 25px;
	padding-bottom: 25px;

	margin-left: 50px;
	padding-left: 50px;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

#presentation-intro {
	text-align: left;
	margin-top: 110px;
	padding-top: 85px;
	margin-left: 30px;
	padding-left: 30px;
}

#presentation h2 {
	margin-top: 20px;
	padding-top: 20px;
}

#presentation img {
	width: 300px;
	height: 199px;
}

#graphs-intro {
	text-align: center;
}

#graphs {
	text-align: center;
}

#graphs h2 {
	margin-top: 50px;
	padding-top: 50px;
}

#graphs img {
	border-style: solid;
}

/* For a very silly thing */

.giant {
	font-size: 120px;
	text-align: center;
}

.tiny {
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
}
