body {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: rgb(0, 150, 200);
	text-decoration: none;
}

a:hover {
	color: rgb(0, 100, 125);
	text-decoration: none;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

div div {
	margin-left: 3%;
	margin-right: 3%;
}

#top-menu {
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	padding-top: 55px;
	position: absolute;
	padding-bottom: 50px;
	background-color: rgb(150, 180, 240);
}

#top-menu a {
	color: black;
}

#top-menu a:hover {
	color: gray;
}

#title {
	float: left;
	padding: 5px;
	font-size: 28px;
	font-weight: bold;
}

#menu-items {
	float: right;
	font-size: 22px;
	margin-top: 10px;
	margin-right: 10px;
}

#menu-items li {
	padding: 6px;
	display: inline;
}

#profile {
	float: left;
	width: 400px;
	margin-top: 68px;
	padding-top: 50px;
	margin-left: 40px;
	margin-right: 50px;
	padding-left: 20px;
}

#profile img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

#home-intro {
	width: 84%;
	margin-left: 75px;
	padding-left: 50px;
}

#bio-intro {
	width: 60%;
	margin-left: 125px;
	padding-left: 100px;
}

.intro {
	text-align: justify;
	margin-top: 125px;
	padding-top: 100px;
	margin-right: 25px;
	padding-right: 5px;
	padding-bottom: 75px;
}
