body {
    font-family: 'Roboto', 'Noto', sans-serif;
}

#button-container {
	top: 40%;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	position: absolute;
	
	z-index: 100;
    padding-top: 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
				0 1px 5px 0 rgba(0, 0, 0, 0.12),
				0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#button-container > div {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;

	position: relative;
	text-align: center;
}

.button {
	display: inline-block;
	margin: 5px 5px 0px 5px;
}

.button-icon {
	margin: 5px;
	display: inline-block;
}

div#settings-content {
	padding-left: 0px;
	padding-right: 0px;

	text-align: center;
}

#settings-button {
	margin: 0px;
	width: 100%;
	border-radius: 0px;
}

paper-slider {
	display: inline;
}

/* Most CSS from http://thecodeplayer.com/walkthrough/ripple-click-effect-google-material-design */

.bubble {
	position: absolute;
	border-radius: 100%;
	transform: scale(0);
}

.bubble.animate {
	animation: ripple 0.65s linear;
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}
